---
index: true
---
<% current_page.add_metadata :page => { :title => item.dname }  %>

<div class="row">
  <div class="col-md-9">
    <div class="card card-block">
      <%= partial 'items/item', :locals => { :item => item, id: id } %>
    </div>
  </div>
</div>
