@import 'variables';
@import 'bootstrap';

.navbar {
  margin-bottom: 15px;
}


.tooltip-link {
  white-space:nowrap
}

.card-hero {

  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 0;
    top: auto;
  }
}

.card {
  .list-group-item {
    border-left: none;
    border-right: none;
  }
  .list-group-item:first-child {
    border-top: none;
  }
  .list-group-item:last-child {
    border-bottom: none;
  }
}

.card-primary {
  color: #FFF;
}

.heroes .card .list-group-item {
  border: none;
}
