<% wrap_layout :layout do %>
  <div class="row">
    <div class="col-md-9">
      <% panel do %>
        <div class="panel-body">
          <h1><%= current_page.title %></h1>
          <%= yield %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
<% end %>
