---
index: true
---
<% current_page.add_metadata :page => { :title => ability.dname }  %>

<div class="row">
  <div class="col-md-9">
    <div class="card card-block">
      <%= partial 'abilities/ability', :locals => { :ability => ability, id: id } %>
    </div>
  </div>
</div>
